<main class="content center-main" >
    <!--INTRODUCTION SECTION START-->
    <section class="home d-flex" id="home">
        
        <!--Start Background Image-->
        <div class="mono-background">
            <div class="mono-background-inner" data-aos-duration="1200" data-aos-delay="450" data-aos="fade-left">
                <img src="https://via.placeholder.com/1405x937" width="1405" height="937" class="img-align-center" alt="">
            </div>
        </div>
        <!--End Background Image-->

        <div class="container introduction text-left" >
            <p class="welcome_text mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150">I'm a <span class="welcome-text-type" data-options="Web Developer, Graphic Designer" ></span></p>
            <div id="parallax-scene" class="mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                <div class="heading-zone">
                    <h1>Kevin Miller</h1>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="450">
                <a href="#about" class="btn  btn-primary btn-small">Learn More</a>
            </div>
        </div>
        <div class="scroll-down">
            <a href="#about" class="scroll-down-link text-center hoveroff">
                <div class="scroll-title">Scroll Down</div>
                <div class="scroll-mouse">
                    <div class="whell"></div>
                </div>
            </a>
        </div>
    </section>
    <!--INTRODUCTION SECTION END-->


    <!--ABOUT SECTION START-->
    
    <!--ABOUT SECTION END-->

    <!--FACTS SECTION START-->
    <div class="section facts backgound-section" style="background-image: url(https://via.placeholder.com/1920x1080)" data-aos-id="facts">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                    <div class="fact-single text-center">
                        <div class="fact-icon">
                            <span class="mbri-timer"></span>
                        </div>
                        <div class="fact-info">
                            <span class="tmcounter" data-from="0" data-to="20" data-speed="1500">20</span>+
                        </div>
                        <div class="fact-meta">
                            <span>Years Experiance</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                    <div class="fact-single text-center">
                        <div class="fact-icon">
                            <span class="mbri-smile-face"></span>
                        </div>
                        <div class="fact-info">
                            <span class="tmcounter" data-from="0" data-to="400" data-speed="1500">400</span>+
                        </div>
                        <div class="fact-meta">
                            <span>Happy Clients</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                    <div class="fact-single text-center">
                        <div class="fact-icon">
                            <span class="mbri-magic-stick"></span>
                        </div>
                        <div class="fact-info">
                            <span class="tmcounter" data-from="0" data-to="7853" data-speed="1500">7853</span>
                        </div>
                        <div class="fact-meta">
                            <span>Projects Done</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                    <div class="fact-single text-center">
                        <div class="fact-icon">
                            <span class="mbri-save"></span>
                        </div>
                        <div class="fact-info">
                            <span class="tmcounter" data-from="0" data-to="2569" data-speed="1500">2569</span>
                        </div>
                        <div class="fact-meta">
                            <span>Download</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--FACTS SECTION END-->

    <!--SERVICES SECTION START-->
    

    <!--SERVICE SECTION START-->

    <!--Video Section START-->

   

    <!--Video Section END-->

    <!--PORTFOLIO SECTION START-->
   
    <!--PORTFOLIO SECTION START-->


    
    <!--PROJECT Section START-->

    <div class="section project backgound-section" style="background-image: url(https://via.placeholder.com/1920x1080)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row box p-5 mx-3 mx-md-0 align-items-center text-center">
                        <div class="col-md-4 m-0 mb-3 mb-md-0">
                            <h3 class="m-0">Create a Website</h3>
                        </div>
                        <div class="col-md-4 m-0 mb-3 mb-md-0">
                            <p class="m-0">We can create and develop together.</p>
                        </div>
                        <div class="col-md-4">
                            <a href="#contact" class="btn btn-outline-primary">Let's do this</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--PROJECT Section END-->


    <!--RESUME SECTION START-->
    
    <!--RESUME SECTION START-->

    
    <!--CLIENT SECTION START-->
    
    <!--CLIENT SECTION END-->



    <!--BLOG SECTION START-->
   
    <!--BLOG SECTION START-->

 
   
</main>